@import url(“https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap”);
/* border-box is useful so that, when we add any padding or any border onto an element, it doesn’t affect the width of it. */
* {
  box-sizing: border-box;
}
/* we use overflow: hidden; when we don’t want scroll bars to be shown by default */
body {
  font-family: “Roboto”, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}