body {
    background-image: url("./images/curtain02.svg");
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 3rem;
    border-left: 6px solid rgb(233, 210, 0);
    padding: 4px 8px 0 8px;
}

p {
    font-size: 1.25rem;
}

.container {
    background-color: white;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 1rem;
    padding-bottom: 50em;
}

.hidden {
    display: none;
}

img {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}